{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <img src="{{ absolute_url(asset('/ressources/images/maintenance.jpg')) }}" alt="">

        </div>
    </div>
{% endblock %}

